# Object file
*.o
.#*
*\#*\#
[#]*#
*~
*$
*.bak
*flymake*
*.iml
*.kdev4
*.log
*.swp
*.pdb
*.zip
.project
.pydevproject
.settings
.idea
.vagrant
.noseids
.ipynb_checkpoints
.tags
.cache/
.vscode/

# Ada Library Information
*.ali
